@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.carousel {
  display: flex;
  flex-direction: column; 
  transition: transform 0.5s ease-in-out;
}

.slide-up {
  margin-bottom: 1rem;
}

.cover-image {
  background-image: url('Frame.png');
  background-repeat: no-repeat;
  background-size: contain;
}